<%- include('partials/broilerup') %>
<% if (message!='') { %>
 
    <%- include('partials/alert') %>
  <% } %>
  <%- include('partials/navbarup') %>

  <h1 class="text-3xl text-blue-800 text-center m-5 font-bold">Answers to this demand</h1>
  <div class="flex justify-around rounded-2xl border-[3px] border-sky-700 p-3 m-3">
    <a href="/demands/ansform<%= demid %>"><button class="rounded-3xl bg-orange-600 text-[1rem] font-bold text-center py-2 px-[5vw] hover:bg-orange-800 m-2">Add your Answer</button></a>


  </div>
<% for( let ans of answers ) { %>
    <div class="flex flex-col gap-3 mt-14 m-4 mx-0">
        <div class="flex flex-col gap-4 bg-gray-200 p-4 ">
            <!-- Profile and Rating -->
            <div class=" justify justify-between">
                <a href="/users/view<%= ans.user._id %>"><div class="flex gap-2">
                    <img class="w-10 h-10 text-center rounded-full hover:w-12" src="<%= ans.user.Photo.path %>">
                    <span class="py-1 hover:text-blue-600 text-xl font-bold dark:to-gray-400"><%= ans.user.username %></span>
                </div></a>
                <% if (ans.message) { %>
                 
                    <div class="flex p-1 gap-1 text-orange-300">
                        <p class="mb-0 font-semibold text-neutral-900  my-10 text-xl">
                            Message : <%= ans.message %>
                        </p>
                        <% } %>
                </div>
            </div>
            <% if (ans.product) { %>
             
            
                <div class="flex justify-around rounded-xl shadow-xl  -mx-3 md:w-[85vw] m-[-1vw] my-[2vh] border-[3px] border-blue-900 md:m-[3vw]">
                    <div class="max-w-[30%] max-h-[50vh]">
                    <img src="<%= ans.product.Thumbnail.path %>" alt="" class=" m-3 rounded-lg max-h-[40vh]">
                    <div class="font-bold text-xl px-[4vw] py-[1vh] text-center max-h-[10vh]">Rent : <%= ans.product.Price %> / <%= ans.product.Basis %></div></div>
                    <div class="w-[60%]">
                        <h5 class="text-2xl font-serif text-center m-2"><%= ans.product.Name %></h5>
                        <p class="text-md text-center p-3"><%- ans.product.Desc.slice(0,100).replace(/\n/g,"<br>")+"..." %></p>
                        
                        <div class="p-10 flex justify-around -bottom-0">
                            <a href="/products/view<%= ans.product._id %>"><button class="rounded-3xl bg-blue-600 text-[1rem] font-bold text-center py-2 px-[5vw] hover:bg-blue-800">View Item</button></a>
                        </div>
                    </div>
                </div>
            
      
            <div class="flex justify-between text-sm text-gray-500">
                <span><%= ans.date %></span>
                <!-- <button class="p-1 px-2 bg-gray-900 hover:bg-gray-950 border border-gray-950 bg-opacity-60">
                    <ion-icon name="share-outline"></ion-icon> Share</button> -->
            </div>
        </div></div>
        <% } %>

    
<% } %>

<%- include('partials/navbardn') %>

<script src="/navlogic.js">
</script>
<%- include('partials/broilerdn') %>